body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgoldenrodyellow;
    margin-right: 500px;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: greenyellow;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}

.operator {
    background-color: blue;
    color: white;
}


/* Additional Styles */

#display {
    grid-column: 1 / span 4;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}